<div class="tab-pane "  role="tabpanel" >
    <div class="col-md-12 col-lg-12">
        <div class="card  mb-3">
            <div class="card-body">
                <div class="campaignTable  table-responsive">

                    <table class="table table-bordered table-md">
                        <thead class="light-blue">
                            <tr>
                                <th><input type="checkbox"> </th>
                                <th>User Id </th>
                                <th>User Name </th>
                                <th>User Full Name</th>
                                <th>Extension</th>
                                <th>WebRole </th>
                                <th> User Group</th>
                                <th> Status</th>
                                <th> Parent</th>
                                <th> Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: p }">
                                <td><input type="checkbox"></td>
                                <td> {{user.id}}</td>
                                <td> {{user.name}}</td>
                                <td> {{user.fullname}}</td>
                                <td> {{user.extension}}</td>
                                <td>{{user.webadminrole}}</td>
                                <td>{{user.usergroupid}}</td>
                                <td>{{user.status}}</td>
                                <td> {{user.parentuser}}</td>


                                <td>
                                    <a href="" title="Edit">
                                        <i class="p-2 border rounded fa fa-edit me-2 text-muted"></i></a>
                                    <a href="" title="Delete"> <i class="p-2 border rounded fa fa-trash text-muted"></i></a>
                                </td>
                                
                            </tr>


                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>

                    <!-- <div class="d-none">
                        <table class="table table-bordered">
                            <thead class="light-blue">
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Auto Dispose </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>salescamp</td>
                                    <td>Lorem Ipsum is simply dummy text</td>
                                    <td>Active</td>
                                    <td> Disallow </td>
                                    <td>
                                        <div class="d-flex">
                                            <span class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox"
                                                    id="flexSwitchCheckChecked" checked>
                                                <label class="form-check-label"
                                                    for="flexSwitchCheckChecked"> </label>
                                            </span>
                                            <span class="me-2"> <a href="#" class=""
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#campaignModal" title="Edit"> <i 
                                                        class="fa fa-edit"></i></a> </span>
                                            <span> <a href="#" title="Delete"><i class="fa fa-trash"></i></a> </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                </div>
            </div>
            <!-- <div class="card-body">
                <div class="row">

                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div >
    <app-create-user></app-create-user>
</div>
