<div class="sidebar" [class]="isSidebarOpen ? 'open':''">
    <div class="logo-details ">
        <div class="logo_name"> <img src="assets/images/contaque-verve-logo.png" alt="" width="120"></div>
        <i class='bx' [class]="isSidebarOpen ? 'bx-arrow-to-left' : 'bx-arrow-to-right'" id="btn"
            (click)="toggleSideBar()"></i>
    </div>

    <ul class="nav-list">
        <li>
            <a [routerLink]="navigationRoutes.dashboard" routerLinkActive="active">
                <img src="assets/images/sidebar/dashboard.png" alt="Dashboard">
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>

        <li>
            <a [routerLink]="navigationRoutes.campaign" routerLinkActive="active">
                <img src="assets/images/sidebar/campaign.png" alt="Campaign">
                <span class="links_name">Campaign</span>
            </a>
            <span class="tooltip">Campaign</span>
        </li>
        <li>
            <a [routerLink]="navigationRoutes.userManagement" routerLinkActive=" active">
                <img src="assets/images/sidebar/user-managment.png" alt="User Managment">
                <span class="links_name">User Managment</span>
            </a>
            <span class="tooltip">User Managment</span>
        </li>
        <li>
            <a [routerLink]="navigationRoutes.voiceServer" routerLinkActive="active">
                <img src="assets/images/sidebar/voice-server.png" alt="Voice Server">
                <span class="links_name">Voice Server</span>
            </a>
            <span class="tooltip">Voice Server</span>
        </li>
        <li>
            <a [routerLink]="navigationRoutes.manageLeads" routerLinkActive="active">
                <img src="assets/images/sidebar/manage-leads-lists.png" alt="Manage Leads & List">
                <span class="links_name">Manage Leads & List</span>
            </a>
            <span class="tooltip">Manage Leads & List</span>
        </li>
        <li>
            <a [routerLink]="navigationRoutes.configuration" routerLinkActive="active">
                <img src="assets/images/sidebar/configuration.png" alt="configuration">
                <span class="links_name">Configuration</span>
            </a>
            <span class="tooltip">Configuration</span>
        </li>
        <li>
            <a [routerLink]="navigationRoutes.license" routerLinkActive="active">
                <img src="assets/images/sidebar/License.png" alt="License">
                <span class="links_name">License</span>
            </a>
            <span class="tooltip">License</span>
        </li>
        <li>
            <a [routerLink]="navigationRoutes.socialMedia" routerLinkActive="active">
                <img src="assets/images/sidebar/social-media.png" alt="Social Media">
                <span class="links_name">Social Media</span>
            </a>
            <span class="tooltip">Social Media</span>
        </li>
        <li>
            <a [routerLink]="navigationRoutes.deletedData" routerLinkActive="active">
                <img src="assets/images/sidebar/deleted-data.png" alt="Deleted Data">
                <span class="links_name">Deleted Data </span>
            </a>
            <span class="tooltip">Deleted Data </span>
        </li>
        <hr class="my-2">
        <li>
            <a [routerLink]="navigationRoutes.overview" routerLinkActive="active">
                <img src="assets/images/sidebar/overview.png" alt="overview">
                <span class="links_name">Overview </span>
            </a>
            <span class="tooltip">Overview </span>
        </li>
        <li>
            <a [routerLink]="navigationRoutes.realTime" routerLinkActive="active">
                <img src="assets/images/sidebar/real-time.png" alt="Real Time">
                <span class="links_name">Real Time </span>
            </a>
            <span class="tooltip">Real Time </span>
        </li>
        <li>
            <a [routerLink]="navigationRoutes.reports" routerLinkActive="active">
                <img src="assets/images/sidebar/reports.png" alt="Reports">
                <span class="links_name">Reports </span>
            </a>
            <span class="tooltip">Reports </span>
        </li>
        <li>
            <a [routerLink]="navigationRoutes.ivrDesign" routerLinkActive="active">
                <img src="assets/images/sidebar/IVR-Design.png" alt="IVR Design">
                <span class="links_name">IVR Design </span>
            </a>
            <span class="tooltip">IVR Design </span>
        </li>
        <li>
            <a [routerLink]="navigationRoutes.wfm" routerLinkActive="active">
                <img src="assets/images/sidebar/wfm.png" alt="WFM">
                <span class="links_name">WFM </span>
            </a>
            <span class="tooltip">WFM </span>
        </li>
    </ul>
</div>