<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-body pt-1 px-5 pb-5">

            <div class="row g-3 mt-3">
                <h1 class="modal-title fs-5 w-100 text-center" id="campaignModalLabel">
                    Transfer Logic
                </h1>
                <div class="accordion" id="transfer-accordion">
                    <div class="accordion-item" *ngFor="let transferLogic of transferLogicArray; let i = index;">
                        <h2 class="accordion-header" [id]="'transfer-heading' + i">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#transfer-acc-body' + i" aria-expanded="false"
                                [attr.aria-controls]="'transfer-acc-body' + i">
                                Accordion Item #{{i}}
                            </button>
                        </h2>
                        <div [id]="'transfer-acc-body' + i" class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'transfer-heading' + i" data-bs-parent="#transfer-accordion">
                            <div class="accordion-body">
                                <div class="mt-3">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="" class="form-label">Criteria </label>
                                            <input type="text" class="form-control" name="queueCriteria"
                                                #queueCriteria="ngModel" [(ngModel)]="transferLogic.criteria"
                                                placeholder="Enter here" required>
                                            <span class="text-danger"
                                                *ngIf="queueCriteria.invalid && queueCriteria.touched">
                                                *criteria name time is required
                                            </span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="country" class="form-label">Transfer Type </label>
                                            <p-dropdown [options]="transferTypeOptionArray"
                                                placeholder="Select Transfer Type"
                                                [(ngModel)]="transferLogic.transferType" optionLabel="value"
                                                optionValue="value" name="transfer-type" id="transfer-type">
                                            </p-dropdown>
                                        </div>
                                        <div class="col-sm-6 mt-2">
                                            <label for="country" class="form-label">Skill </label>
                                            <p-dropdown [options]="skillOptionArray" placeholder="Select Skill"
                                                [(ngModel)]="transferLogic.transferData" optionLabel="value"
                                                optionValue="id" name="skill" id="skill">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-outline-warning btn-sm" (click)="addAnotherTransferLogic()"> Add
                        Another</button>
                </div>
            </div>
            <div class="accordion " id="voice-accordion">
                <h1 class="modal-title fs-5 w-100 text-center" id="campaignModalLabel">
                    Voice Logic
                </h1>
                <div class="accordion-item" *ngFor="let voiceLogic of voiceLogicArray; let i = index">
                    <h2 class="accordion-header" [id]="'logic-acc-heading' + i">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#logic-acc-body' + i" aria-expanded="false"
                            [attr.aria-controls]="'logic-acc-body' + i">
                            Step {{i + 1}}
                        </button>
                    </h2>
                    <div [id]="'logic-acc-body' + i" class="accordion-collapse collapse"
                        [attr.aria-labelledby]="'logic-acc-heading' + i" data-bs-parent="#voice-accordion">
                        <div class="accordion-body">
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <label class="form-label">Event </label>
                                    <p-dropdown [options]="eventOptionArray" placeholder="Select Event"
                                        (onChange)="onEventChange(i)" [(ngModel)]="voiceLogic.event" optionLabel="value"
                                        optionValue="id">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div [ngSwitch]="voiceLogic.event">
                                <div class="row mt-3" *ngSwitchCase="1">
                                    <div class="col-sm-6">
                                        <label for="api-api" class="form-label">API
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <p-dropdown [options]="apiOptionArray" placeholder="Select API" name="api-api"
                                            id="api-api" [(ngModel)]="voiceLogic.data.api" optionLabel="value"
                                            optionValue="id">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="api-reqtype" class="form-label required">Request Type
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <p-dropdown [options]="reqResTypeOptionArray" placeholder="Select Request Type"
                                            name="api-reqtype" id="api-reqtype"
                                            [(ngModel)]="voiceLogic.data.request_type" optionLabel="value"
                                            optionValue="value">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="api-resptype" class="form-label">Response Type
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <p-dropdown [options]="reqResTypeOptionArray" placeholder="Select Response Type"
                                            name="api-resptype" id="api-resptype"
                                            [(ngModel)]="voiceLogic.data.response_type" optionLabel="value"
                                            optionValue="value">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="api-resp" class="form-label">Response
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="api-resp" id="api-resp"
                                            placeholder="Response Variable Name" required
                                            [(ngModel)]="voiceLogic.data.response">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="api-resp" class="form-label">Response Status
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="api-resp-status"
                                            id="api-resp-status" placeholder="Response Status Variable Name" required
                                            [(ngModel)]="voiceLogic.data.response_status">
                                    </div>
                                </div>
                                <div class="row mt-3" *ngSwitchCase="2">
                                    <div class="col-sm-6">
                                        <label for="assignment-variable" class="form-label">Variable
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="assignment-variable"
                                            id="assignment-variable" placeholder="Response Status Variable Name"
                                            required [(ngModel)]="voiceLogic.data.variable">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="assignment-operation" class="form-label required">Operation
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <p-dropdown [options]="operationTypeOptionArray" name="assignment-operation"
                                            id="assignment-operation" placeholder="Select Operation Type"
                                            [(ngModel)]="voiceLogic.data.operation" optionLabel="value"
                                            optionValue="value">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="assignment-operand" class="form-label">Operand
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="assignment-operand"
                                            id="assignment-operand"
                                            placeholder="Operand variable name or constant value" required
                                            [(ngModel)]="voiceLogic.data.operand">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="assignment-function" class="form-label required">Function
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <p-dropdown [options]="functionTypeOptionArray" name="assignment-operation"
                                            id="assignment-operation" placeholder="Select Function"
                                            [(ngModel)]="voiceLogic.data.function" optionLabel="value"
                                            optionValue="value">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="assignment-x" class="form-label">X
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control" [(ngModel)]="voiceLogic.data.x"
                                            name="assignment-x" id="assignment-x" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="assignment-y" class="form-label">Y
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control" [(ngModel)]="voiceLogic.data.y"
                                            name="assignment-y" id="assignment-y" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="assignment-symbol" class="form-label">Symbol
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" [(ngModel)]="voiceLogic.data.symbol"
                                            name="assignment-symbol" id="assignment-symbol" required>
                                    </div>
                                </div>
                                <div class="row mt-3" *ngSwitchCase="4">
                                    <div class="col-sm-6">
                                        <label for="ext-extenstion" class="form-label">Extenstion
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="ext-extenstion"
                                            id="ext-extenstion" placeholder="Response Status Variable Name" required
                                            [(ngModel)]="voiceLogic.data.extension">
                                    </div>
                                </div>
                                <div class="row mt-3" *ngSwitchCase="5">
                                    <div class="col-sm-6">
                                        <label for="follow-time" class="form-label">Time
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <p-calendar [timeOnly]="true" [showTime]="true" name="follow-time"
                                            id="follow-time" [(ngModel)]="voiceLogic.data.time">
                                        </p-calendar>
                                    </div>
                                </div>
                                <div class="row mt-3" *ngSwitchCase="6">
                                    <div class="col-sm-6">
                                        <label for="gotoif-variable" class="form-label">Variable
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="gotoif-variable"
                                            id="gotoif-variable" placeholder="Variable Name" required
                                            [(ngModel)]="voiceLogic.data.variable">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="gotoid-condition" class="form-label">Condition
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <p-dropdown [options]="conditionTypeOptionArray" name="gotoid-condition"
                                            id="gotoid-condition" placeholder="Select Condition"
                                            [(ngModel)]="voiceLogic.data.condition" optionLabel="value"
                                            optionValue="value">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="gotoif-value" class="form-label">Value
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="gotoif-value" id="gotoif-value"
                                            placeholder="Any Value" required [(ngModel)]="voiceLogic.data.value">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="gotoif-step-true" class="form-label">Go To Step(If TRUE)
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control" name="gotoif-step-true"
                                            id="gotoif-step-true" placeholder="Step No" required
                                            [(ngModel)]="voiceLogic.data.gotoif_true">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="gotoif-variable" class="form-label">Go To Step(If FALSE)
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control" name="gotoif-variable"
                                            id="gotoif-variable" placeholder="Step No" required
                                            [(ngModel)]="voiceLogic.data.gotoif_false">
                                    </div>
                                </div>
                                <div class="row mt-3" *ngSwitchCase="8">
                                    <div class="col-sm-6">
                                        <label for="gotoif-variable" class="form-label">Response Variable
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="json-resp" id="gotoif-variable"
                                            placeholder="Response Variable Name" required
                                            [(ngModel)]="voiceLogic.data.res_variable">
                                    </div>
                                    <div class="col-sm-12 row mt-3">
                                        <div class="col-sm-6">
                                            <label class="form-label">JSON
                                                <sup class="text-red">*</sup>
                                            </label>
                                        </div>
                                        <div class="col-sm-6 mt-2">
                                            <button class="btn btn-outline-warning btn-sm"
                                                (click)="addAnotherVoiceLogicEventJson(i)"> Add Another</button>
                                        </div>
                                    </div>
                                    <div class="row mt-2"
                                        *ngFor="let json of voiceLogic.data.voiceLogicEventJsonOptions">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="json-resp"
                                                id="gotoif-variable" placeholder="Key" [(ngModel)]="json.key">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="json-resp"
                                                id="gotoif-variable" placeholder="Variable Name"
                                                [(ngModel)]="json.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3" *ngSwitchCase="9">
                                    <div class="col-sm-6">
                                        <label for="music-class" class="form-label">Music Class
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <p-dropdown [options]="musicClassOptionArray" placeholder="Select Music Class"
                                            [(ngModel)]="voiceLogic.data.music_class" optionLabel="value"
                                            optionValue="id" name="music-class" id="music-class">
                                        </p-dropdown>

                                    </div>
                                </div>
                                <div class="row mt-3" *ngSwitchCase="10">
                                    <div class="col-sm-6">
                                        <label for="option-variable" class="form-label">Variable
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="option-variable"
                                            id="option-variable" placeholder="Variable Name"
                                            [(ngModel)]="voiceLogic.data.variable">
                                    </div>

                                    <div class="col-sm-6 mt-4">
                                        <input type="radio" name="option-type" id="option-file" value="FILE"
                                            [(ngModel)]="voiceLogic.data.type"> FILE
                                        <input type="radio" name="option-type" id="option-api" value="API"
                                            [(ngModel)]="voiceLogic.data.type"> API
                                    </div>
                                    <div class="col-sm-6" *ngIf="voiceLogic.data.type == 'FILE'">
                                        <label for="option-sound-file" class="form-label">Sound File
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <p-dropdown [options]="musicClassOptionArray" placeholder="Select Sound File"
                                            name="option-sound-file" [(ngModel)]="voiceLogic.data.file_ids"
                                            id="option-sound-file" optionLabel="value" optionValue="id">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-6" *ngIf="voiceLogic.data.type == 'API'">
                                        <label for="option-file-url" class="form-label">File URL
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="option-file-url"
                                            id="option-file-url" [(ngModel)]="voiceLogic.data.file_url">
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="option-duration" class="form-label">File Duration
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control"
                                            [(ngModel)]="voiceLogic.data.file_duration" name="option-duration"
                                            id="option-duration" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="option-timeout" class="form-label">Time Out
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control" [(ngModel)]="voiceLogic.data.timeout"
                                            name="option-timeout" id="option-timeout" required>
                                    </div>
                                </div>
                                <div class="row mt-3" *ngSwitchCase="11">
                                    <div class="col-sm-6 mt-4">
                                        <input type="radio" name="playprompt-type" id="playprompt-file" value="FILE"
                                            [(ngModel)]="voiceLogic.data.type"> FILE
                                        <input type="radio" name="playprompt-type" id="playprompt-api" value="API"
                                            [(ngModel)]="voiceLogic.data.type"> API
                                    </div>
                                    <div class="col-sm-6" *ngIf="voiceLogic.data.type == 'FILE'">
                                        <label for="playprompt-sound" class="form-label">Sound File
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <p-dropdown [options]="soundFilesOptionArray" placeholder="Select Sound File"
                                            name="playprompt-sound" id="playprompt-sound"
                                            [(ngModel)]="voiceLogic.data.file_id" optionLabel="value" optionValue="id">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-6" *ngIf="voiceLogic.data.type == 'API'">
                                        <label for="playprompt-file-url" class="form-label">File URL
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="playprompt-file-url"
                                            id="playprompt-file-url" [(ngModel)]="voiceLogic.data.file_url">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="playprompt-duration" class="form-label">File Duration
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control"
                                            [(ngModel)]="voiceLogic.data.file_duration" name="playprompt-duration"
                                            id="playprompt-duration" required>
                                    </div>
                                </div>
                                <div class="row mt-3" *ngSwitchCase="12">
                                    <div class="col-sm-6">
                                        <label for="question-variable" class="form-label">Variable
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="question-variable"
                                            id="question-variable" placeholder="Variable Name"
                                            [(ngModel)]="voiceLogic.data.variable">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="question-timeout" class="form-label">Digit Time Out
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control" name="question-timeout"
                                            id="question-timeout" [(ngModel)]="voiceLogic.data.digit_timeout">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="question-escape" class="form-label">Escape Digit
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="question-escape"
                                            id="question-escape" [(ngModel)]="voiceLogic.data.escape_digit">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="question-max-digit" class="form-label">Max Digit
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control" name="question-max-digit"
                                            id="question-max-digit" [(ngModel)]="voiceLogic.data.max_digit">
                                    </div>
                                    <div class="col-sm-6 mt-4">
                                        <input type="radio" name="question-type" id="question-file" value="FILE"
                                            [(ngModel)]="voiceLogic.data.type"> FILE
                                        <input type="radio" name="question-type" id="question-api" value="API"
                                            [(ngModel)]="voiceLogic.data.type"> API
                                    </div>
                                    <div class="col-sm-6" *ngIf="voiceLogic.data.type == 'FILE'">
                                        <label for="question-sound" class="form-label">Sound File
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <p-dropdown [options]="soundFilesOptionArray" placeholder="Select Sound File"
                                            name="question-sound" [(ngModel)]="voiceLogic.data.file_id"
                                            id="question-sound" optionLabel="value" optionValue="id">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-6" *ngIf="voiceLogic.data.type == 'API'">
                                        <label for="question-file-url" class="form-label">File URL
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="question-file-url"
                                            id="question-file-url" [(ngModel)]="voiceLogic.data.file_url">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="question-duration" class="form-label">File Duration
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control"
                                            [(ngModel)]="voiceLogic.data.file_duration" name="question-duration"
                                            id="question-duration" required>
                                    </div>
                                </div>
                                <div class="row mt-3" *ngSwitchCase="14">
                                    <div class="col-sm-6">
                                        <label for="record-escape" class="form-label">Escape Digit
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="text" class="form-control" name="record-escape" id="record-escape"
                                            [(ngModel)]="voiceLogic.data.escape_digit">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="record-timeout" class="form-label">Time Out
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control" name="record-timeout"
                                            id="record-timeout" [(ngModel)]="voiceLogic.data.timeout">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="record-max-timeout" class="form-label">Max Silence Timeout
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control" name="record-max-timeout"
                                            id="record-max-timeout" placeholder="Variable Name"
                                            [(ngModel)]="voiceLogic.data.slience_timeout">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="record-dispotype" class="form-label">Disposition Type
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <select class="form-select" name="record-dispotype"
                                            [(ngModel)]="voiceLogic.data.disposition_type" id="record-dispotype"
                                            required (change)="onDispositionTypeChange(i)">
                                            <option value="">Select Disposition Type</option>
                                            <option
                                                *ngFor="let disposition of dispositionTypeOptionArray | dispositionFilter:campaignId"
                                                [value]="disposition.name">{{disposition.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="record-disponame" class="form-label">Disposition Name
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <select class="form-select" name="record-disponame"
                                            [(ngModel)]="voiceLogic.data.disposition" id="record-disponame" required>
                                            <option [value]="-1">Select Disposition</option>
                                            <option *ngFor="let disposition of voiceLogic.data.dispositionOptionArray"
                                                [value]="disposition.id">
                                                {{disposition.name}}-{{disposition.description}}-{{disposition.type}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 mt-4">
                                        <label for="record-apicheck" class="form-label me-3">API Check
                                        </label>
                                        <input type="checkbox" name="record-apicheck" id="record-apicheck"
                                            [(ngModel)]="voiceLogic.data.apicheck">
                                    </div>
                                    <div class="row mt-2" *ngIf="voiceLogic.data.apicheck">
                                        <div class="col-sm-6">
                                            <label for="record-api" class="form-label">API
                                                <sup class="text-red">*</sup>
                                            </label>
                                            <select class="form-select" name="record-api"
                                                [(ngModel)]="voiceLogic.data.api" id="record-api" required>
                                                <option [value]="-1">Select API</option>
                                                <option *ngFor="let apiOption of apiOptionArray" [value]="apiOption.id">
                                                    {{apiOption.value}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="record-reqtype" class="form-label">Request Type
                                                <sup class="text-red">*</sup>
                                            </label>
                                            <select class="form-select" name="record-reqtype"
                                                [(ngModel)]="voiceLogic.data.request_type" id="record-reqtype" required>
                                                <option value="">Select Request Type</option>
                                                <option *ngFor="let type of reqResTypeOptionArray" [value]="type">
                                                    {{type}}
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="record-resptype" class="form-label">Response Type
                                                <sup class="text-red">*</sup>
                                            </label>
                                            <select class="form-select" name="record-resptype"
                                                [(ngModel)]="voiceLogic.data.response_type" id="record-resptype"
                                                required>
                                                <option value="">Select Response Type</option>
                                                <option *ngFor="let type of reqResTypeOptionArray" [value]="type">
                                                    {{type}}
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="record-resp" class="form-label">Response
                                                <sup class="text-red">*</sup>
                                            </label>
                                            <input type="text" class="form-control" name="record-resp"
                                                placeholder="Response Variable Name" id="record-resp"
                                                [(ngModel)]="voiceLogic.data.response">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="record-respstatus" class="form-label">Response Status
                                                <sup class="text-red">*</sup>
                                            </label>
                                            <input type="text" class="form-control" name="record-respstatus"
                                                placeholder="Response Status Variable Name" id="record-respstatus"
                                                [(ngModel)]="voiceLogic.data.response_status">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3" *ngSwitchCase="15">
                                    <div class="col-sm-6">
                                        <label for="wait-time" class="form-label">Time
                                            <sup class="text-red">*</sup>
                                        </label>
                                        <input type="number" class="form-control" name="wait-time" id="wait-time"
                                            [(ngModel)]="voiceLogic.data.time">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-3">
                <div class="col-md-12">
                    <button class="btn btn-outline-warning btn-sm" (click)="addAnotherVoiceLogic()">
                        Add Another
                    </button>
                </div>
            </div>


            <div class="row g-3 mt-3">
                <div class="col col-md-6 text-end">
                    <button type="button" class="btn btn-outline-warning px-4 " data-bs-toggle="modal"
                        data-bs-target="#queueModal">PREVIOUS</button>
                </div>
                <div class="col col-md-6 text-start">
                    <button type="button" class="btn btn-warning text-white px-4 " data-bs-dismiss="modal"
                        (click)="submit()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>