<div class="tab-pane " role="tabpanel">
    <div class="card mb-3">
        <div class="card-body">
            <div class="dispositionTable  table-responsive">
                <table class="table table-bordered table-md">
                    <thead class="light-blue">
                        <tr>
                            <th><input type="checkbox"> </th>
                            <th>Group Name </th>
                            <th>Agent Login</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let userGroup of allUserGroup | paginate: { itemsPerPage: 5, currentPage: p }">
                            <td><input type="checkbox"></td>
                            <td>{{userGroup.name}} </td>
                            <td>{{userGroup.agentlogin}} </td>

                            <td>
                                <span class="me-2"> <a href="#" class="" data-bs-toggle="modal"
                                    data-bs-target="#userGroupsModal"> <i class="fa fa-edit"></i></a> </span>
                            <span> <a href="#"><i class="fa fa-trash"></i></a> </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>

            </div>
        </div>
       

    </div>
</div>
<app-new-user-group (newUserGroupSubmit)="newUserGroupSubmit()"></app-new-user-group>
