<section class="signIn-Form d-flex justify-content-center vh-100 bg-light align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8 col-lg-4   bg-white rounded-12px p-4 p-xxl-5 mx-auto">
                <div class="mb-3">
                    <img src="assets/images/contaque-verve-logo.png" alt="" class="img-fluid d-block mx-auto" width="224">
                </div>

                <form class="signInForm">
                    <div class="text-center">
                        <h1 class="h2 mb-4">Forgot password</h1>
                    </div>
                    <div class="form-group mb-4">
                        <div class="position-relative"> <input name="" class="ps-4 form-control "
                                placeholder="New password" type="password">
                            <i class="bi bi-lock"></i>

                            <i class="bi eye-icon bi-eye-slash" id="eyeText"></i>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <div class="position-relative"> <input name="" class="ps-4 form-control "
                                placeholder="Re-enter password" type="password">
                            <i class="bi bi-lock"></i> <i class="bi eye-icon bi-eye-slash" id="eyeText"></i>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-md btn-block btn-outline-warning px-5 w-100">
                            SUBMIT </button>
                    </div>

                    <div class="mt-4 criteria">
                        <b> Password Criteria</b>
                        <ul class="mb-0">
                            <li>At least 8 characters long.</li>
                            <li>A combination of uppercase letters, lowercase letters, numbers, and symbols.
                            </li>
                            <li>Significantly different from your previous passwords.</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>