<div class="modal fade" id="skillSetModal" tabindex="-1" aria-labelledby="" aria-hidden="true"> 
       <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">

        <form #createSkillSetForm="ngForm">
            <div class="modal-content">

                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5 w-100 text-center" id="skillSetModal">
                        Create Skill Set

                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body pt-1 px-5 pb-3">
                    <div class="row g-3">


                        <div class="col-sm-6">
                            <label for="" class="form-label">Skill Name <sup class="text-red">*</sup></label>
                            <input type="text" class="form-control" id="SkillSetName" name="SkillSetName"
                                #SkillSetName="ngModel" [(ngModel)]="createSkillSet.name" required>
                            <span class="text-danger" *ngIf="SkillSetName.invalid && SkillSetName.touched">
                                *description name is required
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Color <sup class="text-red">*</sup></label>
                            <input type="text" class="form-control" id="SkillSetColor" name="SkillSetColor"
                                #SkillSetColor="ngModel" [(ngModel)]="createSkillSet.color" required>
                            <span class="text-danger" *ngIf="SkillSetColor.invalid && SkillSetColor.touched">
                                *description name is required
                            </span>
                        </div>

                        <div class="col-sm-6">
                            <label for="" class="form-label">Description <sup class="text-red">*</sup></label>
                            <input type="text" class="form-control" id="skillSetDescription" name="SkillSetDescription"
                                #SkillSetDescription="ngModel" [(ngModel)]="createSkillSet.description" required>
                            <span class="text-danger"
                                *ngIf="SkillSetDescription.invalid && SkillSetDescription.touched">
                                *description name is required
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Status <sup class="text-red"></sup></label>
                            <select class="form-select" name="SkillStatus" #SkillStatus="ngModel"
                                [(ngModel)]="createSkillSet.status"  required>
                                <option value="INACTIVE">INACTIVE</option>
                                <option value="ACTIVE">ACTIVE</option>


                            </select>
                        </div>

                    </div>
                </div>

                <div class="modal-footer justify-content-center border-top-0">

                    <button type="button" class="btn btn-warning text-white px-4" (click)="submit(createSkillSetForm)"
                        data-bs-dismiss="modal" [disabled]="!createSkillSetForm.form.valid">SUBMIT</button>
                </div>
    </div>
</form>

</div>
</div>