<div class="tab-pane " role="tabpanel">


    <div class="card mb-3">
        <div class="card-body">
            <div class="dcTable   table-responsive">
                <table class="table table-bordered table-md">
                    <thead class="light-blue">
                        <tr>
                            <th><input type="checkbox"> </th>
                            <th>Name </th>
                            <th>Description</th>
                            <th>Role Access</th>
                            <th>Status</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>

                            <td> Nirmal Pandya </td>
                            <td>Lorem Ipsum is simply dummy text</td>
                            <td>Agent</td>
                            <td>
                                Status
                            </td>
                            <!-- </td> -->
                            <td class="actionsColumn">
                                <a href="" title="Edit" class="me-2">
                                    <img src="images/user-managment/edit.png" alt="Edit" width="17"></a>
                                <a href="" title="Delete"> <img src="images/delete.png" alt="Delete" width="17"></a>
                            </td>


                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

        <div class="card-body">
            <div class="row">

                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>





</div>