<div class="card ">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h2 class="h4   card-title   fw-medium"> Recent Users</h2>
            <div class=" ">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Today</option>

                </select>
            </div>
        </div>

        <div class="recentUsersTable table-responsive">
            <table class="table  table-sm table-borderless mb-0">
                <thead class="light-blue">
                    <tr>

                        <th> Name</th>
                        <th>Extension</th>
                    </tr>
                </thead>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
                <tr>

                    <td>Nirmal Pandya <br> <span class="text-muted small">Sales UG</span>
                    </td>

                    <td>
                        <div> 2015</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>