<div class="card ">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h2 class="h4   card-title   fw-medium"> Recent Users</h2>
            <div class=" ">
                <select class="form-select" aria-label="Default select example" (change)="getRecentUsersList($event)">
                    <option value="today" selected>Today</option>
                    <option value="this-week">This Week</option>
                    <option value="this-month">This Month</option>
                    <option value="this.year">This Year</option>
                </select>
            </div>
        </div>

        <div class="recentUsersTable table-responsive">
            <table class="table  table-sm table-borderless mb-0">
                <thead class="light-blue">
                    <tr>
                        <th> Name</th>
                        <th>Extension</th>
                    </tr>
                </thead>
                <tr *ngFor="let item of recentUsers">
                    <td>{{item.name}}<br> <span class="text-muted small">{{item.usergroup}}</span>
                    </td>
                    <td>{{item.extension}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>