<div>
    <div class="row mt-3">
        <h1 class="fs-3 w-100 text-center">
            Design CRM </h1>
    </div>
    <div class="row g-4">
        <div class="col-md-8 mx-auto">
            <div class="row g-4">
                <div class="col-md-6">
                    <label for="lastName" class="form-label">CRM Title <sup class="text-red">*</sup></label>
                    <input type="text" class="form-control" name="txtTitle" placeholder="Enter Title" #title="ngModel"
                        [(ngModel)]="designTable.title" required>
                    <span class="text-danger" *ngIf="title.invalid && title.touched">
                        *title is required
                    </span>
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Description <sup class="text-red">*</sup></label>
                    <input type="text" class="form-control" id="" placeholder="Enter Description" #description="ngModel"
                        [(ngModel)]="designTable.description" required>
                    <span class="text-danger" *ngIf="description.invalid && description.touched">
                        *description is required
                    </span>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-warning btn-sm text-white"> Choose from
                        Existing</button>
                </div>
            </div>
            <div class="row g-3 mt-3">
                <div class="col col-md-6 text-end">
                    <button type="button" class="btn btn-outline-warning px-4"
                        (click)="setStepIndex.emit(0)">PREVIOUS</button>
                </div>
                <div class="col col-md-6 text-start">
                    <button type="button" class="btn btn-warning text-white px-4"
                        [disabled]="description.invalid || title.invalid " (click)="submit()">NEXT</button>
                </div>
            </div>
        </div>
    </div>
</div>