<div class="tab-pane" role="tabpanel">
    <div class="col-md-12 col-lg-12">
        <div class="card  mb-3">
            <div class="card-body">
                <div class="campaignTable  table-responsive">

                    <table class="table table-borderless table-md">
                        <thead class="light-blue">
                            <tr>
                                <th><input type="checkbox"> </th>
                                <th>Name </th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Auto Dispose</th>
                                <th> Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of campaignsData | paginate: { itemsPerPage: 5, currentPage: p }">
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{item.name}}</td>
                                <td>{{item.description}} </td>
                                <td>{{item.status}}</td>
                                <td>{{item.autodispose}}</td>

                                <td class="actionsColumn">
                                    <a href="" title="Edit" class="me-2">
                                        <i class="p-2 border rounded fa fa-edit me-2 text-muted"></i></a>
                                    <a href="" title="Delete"> <i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>