<div class="tab-pane" role="tabpanel">
    <div class="col-md-12 col-lg-12">
        <div class="card  mb-3">
            <div class="card-body">
                <div class="campaignTable  table-responsive">

                    <p-table class="table table-borderless table-md" [value]="campaignsData" styleClass="p-datatable-sm"
                        [rowHover]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
                        [paginator]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th>Name </th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Auto Dispose</th>
                                <th> Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                </td>
                                <td>{{item.name}}</td>
                                <td>{{item.description}} </td>
                                <td>{{item.status}}</td>
                                <td>{{item.autodispose}}</td>

                                <td class="actionsColumn">
                                    <a  title="Edit" class="me-2">                                                             
                                        <img src="assets/images/edit.png" alt="Edit"  width="17"></a> 
                                        <a  title="Delete">  <img src="assets/images/delete.png" alt="Delete" width="17" (click)="deleteCampaign(item)"></a>
                                    <!-- <a  title="Delete" (click)="deleteCampaign(item)"> <i class="fa fa-trash"></i></a> -->
                                    <!-- <button class="btn" (click)="deleteCampaign(item)">Delete </button> -->
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <app-new-campaign (refreshCampaigns)="getAllCampaigns()"></app-new-campaign>
</div>