<div class="row">
    <div class="col-md-12 dragDropEditor">
        <div class="card mb-3">
            <div class="p-0 card-body">
                <div class="card-header d-flex py-3 bg-white justify-content-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item" (click)="goBack()">
                            <a class="cursor-pointer">
                                <img src="assets/images/crm/back.png" alt="Back" width="15"> Back
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="cursor-pointer">
                                <img src="assets/images/crm/save.png" alt="Save" width="22"> Save
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="cursor-pointer">
                                <img src="assets/images/crm/preview.png" alt="Preview" width="22"> Preview
                            </a>
                        </li>
                        <li class="list-inline-item" (click)="fullscreen()">
                            <a class="cursor-pointer">
                                <img src="assets/images/crm/full-screen.png" alt="Fullscreen" width="22"> Fullscreen
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="cursor-pointer">
                                <img src="assets/images/crm/clear.png" alt="Clear" width="22"> Clear
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body bg-light px-0">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="text-center mb-2">Elements</div>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/heading.png" alt="Heading" width="22"> Heading
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/input.png" alt="Input" width="22">Input
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/textarea.png" alt="Textarea" width="22">Text Area
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/datepicker.png" alt="datepicker" width="22">Date Picker
                            </a>

                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/datepicker.png" alt="Heading" width="22">Date &amp; Time
                                Piker
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/accordion.png" alt="Accordion" width="22">Accordion
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/submitbtn.png" alt="Submit Button" width="22">Submit Button
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/radio.png" alt="Radio Button" width="22">Radio
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/checkbox.png" alt="checkbox" width="22">Checkbox
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/listgroup.png" alt="list group" width="22">List Group
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/select-phone.png" alt="Select Phone" width="22">Select Phone
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/dial-button.png" alt="dial-button" width="22">Dial Button
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/disposition.png" alt="Disposition" width="22">Disposition
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <img src="assets/images/crm/comments.png" alt="Comments" width="22"> Comments
                            </a>
                        </div>
                        <div class="col-md-7">
                            <div class="pt-5 text-center">
                                <h1> Heading</h1>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="text-center mb-2"> Properties</div>
                            <div class="bg-white pt-3 px-3 vh-100">
                                <div>
                                    <div class="align">
                                        <p class="mb-2"><b>Align</b></p>
                                        <div class="d-flex justify-content-between">
                                            <img src="assets/images/crm/align-start.png" title="align-start" width="15"
                                                height="15">
                                            <img src="assets/images/crm/align-start.png" title="align-start" width="15"
                                                height="15">
                                            <img src="assets/images/crm/align-start.png" title="align-start" width="15"
                                                height="15">
                                            <img src="assets/images/crm/align-start.png" title="align-start" width="15"
                                                height="15">
                                            <img src="assets/images/crm/align-start.png" title="align-start" width="15"
                                                height="15">
                                            <img src="assets/images/crm/align-start.png" title="align-start" width="15"
                                                height="15">
                                            <img src="assets/images/crm/align-start.png" title="align-start" width="15"
                                                height="15">
                                        </div>
                                        <hr>
                                    </div>


                                    <div class="size mb-3">
                                        <b> Size</b>
                                        <img src="assets/images/crm/size.png" width="12" height="auto"
                                            class="float-end">
                                    </div>

                                    <div class="width d-flex mb-3">
                                        <span class="d-flex justify-content-between align-items-center me-1">
                                            <b>Width</b>
                                            <input type="text" class="form-control d-inline w-50" placeholder="00">
                                        </span>
                                        <span class="d-flex justify-content-between align-items-center"> <b> Height </b>
                                            <input type="text" class="form-control d-inline w-50" placeholder="00">
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="element mb-3">
                                        <p class="mb-2"><b>Element</b></p>
                                        <div>
                                            <select name="" id="" class="form-select mb-2">
                                                <option value="">Select Heading Type</option>
                                            </select>
                                            <input type="text" class="form-control mb-2" placeholder="Enter Heading">

                                            <select name="" id="" class="form-select mb-2">
                                                <option value="">Mapped Column</option>
                                            </select>
                                            <input type="text" class="form-control mb-2" placeholder="Enter Label name">
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="textfield mb-3">
                                        <p class="mb-2"><b>Text</b></p>
                                        <div>
                                            <select name="" id="" class="form-select mb-2 ">
                                                <option value="">Select Font</option>
                                            </select>

                                            <div class="d-flex justify-content-between">
                                                <select name="" id="" class="form-select w-75 mb-2 me-2 ">
                                                    <option value="">Font Style</option>
                                                </select>

                                                <input type="text" class="form-control   mb-2 w-25 " placeholder="00">
                                            </div>
                                            <div class="d-flex">
                                                <a>
                                                    <img src="assets/images/crm/text-left.png" alt="text left"
                                                        width="22" title="Text Left">
                                                </a>
                                                <a title="Text Center">
                                                    <img src="assets/images/crm/text-center.png" alt="text center"
                                                        width="22" class="ms-3">
                                                </a>
                                                <a title="Text Right">
                                                    <img src="assets/images/crm/text-right.png" alt="text right"
                                                        width="22" class="ms-3">
                                                </a>
                                            </div>
                                            <hr>

                                        </div>
                                    </div>
                                    <div class="color mb-3">
                                        <p class="mb-2"><b>Color</b></p>

                                        <div class="d-flex mb-2">
                                            <span class="w-50 "> <b>Fill</b> <span>ss</span>
                                            </span>
                                            <span class="w-50 "> <b>Stroke</b> <span>ss</span>
                                            </span>

                                        </div>
                                        <div>
                                            <span> <b>Background</b>
                                                <input type="text" class="form-control d-inline w-25">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>