<div class="modal fade" id="musicOnHoldModal">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5 w-100 text-center" id="musicOnHoldModal">
                    Create Music on Hold
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body pt-1  pb-3">
                <div class="row g-4">
                    <div class="col-sm-12">
                        <label for="" class="form-label"> Music Class Name <sup class="text-red">*</sup></label>
                        <input type="text" class="form-control" id="" placeholder="Enter name here">

                    </div>


                    <div class="col-sm-12">
                        <label for="" class="form-label">Music   <sup class="text-red">*</sup></label>
                        <input type="text" class="form-control" id="" placeholder="Select music file">

                    </div>
                    <div class="col-md-12">

                        <button class="btn btn-outline-warning btn-sm"> Add Another</button>
                    </div>


                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer justify-content-center border-top-0">

                <button type="button" class="btn btn-warning text-white px-4">SUBMIT</button>
            </div>

        </div>
    </div>
</div>