<div class="tab-pane" id role="tabpanel">
    <div class="card mb-3">
        <div class="card-body">
            <div class="dcTable  table-responsive">
                <table class="table table-bordered table-md">
                    <thead class="light-blue">
                        <tr>
                            <th><input type="checkbox"> </th>
                            <th>Pause Code name </th>
                            <th>Description</th>
                            <th>User Group</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of pauseCodeDataRes | paginate: { itemsPerPage: 5, currentPage: p }">
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.usergroup}}</td>
                            <td class="actionsColumn">
                                <a href="" title="Edit" class="me-2" (click)="pauseCodeEdit(item)" data-bs-toggle="modal"
                                data-bs-target="#pauseCodeModal">
                                    <i class="p-2 border rounded fa fa-edit me-2 text-muted"></i>
                                </a>
                                <a href="" title="Delete" (click)="pauseCodeDelete(item)"> <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<app-create-pause-code (createPauseCodeSubmit)="createPauseCodeSubmit()"></app-create-pause-code>
