<div class="dragFileArea mt-2 bg-light text-center p-3">
    <img src="images/file-icon.png" alt="File Icon" width="76" style="margin-bottom:25px;">
    <h4>Click or drag file to this area to upload</h4>
    <h5 class="text-muted">Support for .xlsx or .xls files a same or bulk upload.</h5>

</div>
<div class="text-center mt-4"> <button class="btn btn-outline-secondary">
        <img src="images/download.png" alt="Download Template" width="20">
        Download Template</button></div>

<div>
    <div class="col col-md-12 text-center mt-3"> <button type="button" class="btn btn-warning text-white px-4"
            (click)="submit()" data-bs-dismiss="modal">SUBMIT</button></div>
</div>