<div class="tab-pane" role="tabpanel">

    <div class="card mb-3">
        <div class="card-body">
            <div class="crmTable  table-responsive">
                <table class="table table-borderless table-sm">
                    <thead class="light-blue">
                        <tr>
                            <th><input type="checkbox"> </th>
                            <th>CRM Name </th>
                            <th>Table Name</th>
                            <th>Unique Column</th>
                            <th>Interactions</th>
                            <th> Description</th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>lorem ipsum </td>
                            <td> Sales Camp </td>
                            <td>Phone</td>
                            <td>Call, Email, Chat</td>
                            <td>Lorem ipsum dolor sit.</td>

                            <td>
                                <a href="" title="Edit">
                                    <i class="p-2 border rounded fa fa-edit me-2 text-muted"></i></a>
                                <a href="" title="Delete"> <i class="p-2 border rounded fa fa-trash text-muted"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>