@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    font-size: 15px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

::placeholder {
    color: #6c757d;
}

.text-red {
    color: red;
}

/* .h-35 {
            height: 35% !important;
        }

        .h-65 {
            height: 65% !important;
        } */

.rotate {
    transform: rotate(180deg);
}

.bg-grey {
    background-color: #d9d9d9;
}

.btn-outline-warning {
    color: #f58220;
    border-color: #f58220;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #ff6600 !important;
    border-color: #ff6600 !important;
}

.btn-warning:hover {
    background-color: #ff6600 !important;
    border-color: #ff6600 !important;
}

.btn-custom-light {
    background-color: #f1f1f1 !important;
    border-color: #f1f1f1 !important;
    border: 1px solid #848484 !important;
}

.btn-custom-light:hover {
    background-color: #ff6600 !important;
    border-color: #ff6600 !important;
    border-color: #ff6600 !important;
    color: #fff;
}

.rounded-12px {
    border-radius: 12px;
}

.rounded-12px-start {
    border-radius: 12px 0 0 12px;
}

.rounded-12px-end {
    border-radius: 0 12px 12px 0;
}

.signIn,
.signIn-Form {
    background: linear-gradient(234.47deg, #18738f 3.89%, #0d2960 58.58%);
}

.signIn-Form .logoImgs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-top: 3rem */
}

.signIn-Form .rounded-start {
    border-radius: 12px 0 0 12px;
}

.logo {
    margin-bottom: 18px;
    margin-top: 18px;
}

.signInForm {
    padding: 20px 20px 10px 20px;
}

.signInForm .form-control {
    padding-left: 1.8rem !important;
}

.signInForm .bi-person,
.signInForm .bi-lock {
    position: absolute;
    top: 7px;
    left: 9px;
    color: #6c757d;
    font-size: 16px;
}

.line {
    display: block;
}

.line h2 {
    font-size: 14px;
    border-bottom: 1px solid rgb(119, 119, 119);
    position: relative;
    bottom: 8px;
}

.line h2 span {
    background-color: white;
    position: relative;
    top: 10px;
    padding: 0 10px;
}

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
    vertical-align: -0.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

.navbar {
    height: 58px;
}

.cursor-pointer {
    cursor: pointer;
}

.topBar,
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebarToggle {
    background-color: #ffffff;
    /* padding: 5px 7px; */
    border-radius: 0 6px 6px 0;
    color: #bfbfbf;
    /* display: none; */
    height: 36px;
    width: 30px;
    text-align: center;
    line-height: 37px;
    position: absolute;
    /* font-size: 20px; */
    cursor: pointer;
    color: #61636669;
    left: -20px;
    top: 20px;
}

.sidebarToggle:hover {
    background-color: #ffe5d5;
}

.topBar .bi-arrow-bar-left {
    font-size: 24px;
    position: relative;
    right: 9px;
    color: #212529;
}

a.sidebarToggle:hover {
    text-decoration: none;
}

#sideBar {
    width: 250px;
    position: fixed;
    height: 100vh;
    background-color: #fff;
    top: 0;
    transition: 0.8s;
    padding: 0 1rem;
    overflow-y: auto;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

#sideBar .list-group-item.active {
    background-color: #ffc59f;
    color: #212529;
    border-radius: 6px;
}

#sideBar.active {
    margin-left: -135px;
}

#sideBar.active a {
    position: relative;
    display: inline-block;
}

#sideBar.active span.menuname {
    display: none;
    /* visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
       
            position: absolute;
            z-index: 1;
            */
}

.searchBox .form-control {
    background: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4.8px 0px 0px 4.8px;
}

.tooltipblock {
    position: relative;
    display: inline-block;
}

.btn-warning {
    color: #000;
    background-color: #f58220;
    border-color: #f58220;
}

.tooltipblock .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

/* .recentUsersTable {
            height: 750px;
            overflow: auto;
        } */

#sideBar.active .tooltipblock:hover .tooltiptext {
    visibility: visible;
    z-index: 999;
}

#sideBar.active a:hover .span {
    visibility: visible;
}

#sideBar.active ul li a {
    padding-left: 150px;
}

#sideBar .brand {
    font-size: 28px;
}

#sideBar.active .logo {
    padding-left: 127px;
    text-align: right;
    width: 50px;
}

#sideBar.active .logo img {
    padding-left: 0px;
    width: 70px !important;
}

#sideBar.active .list-group-item {
    background-color: transparent;
    padding: 0.2rem 1rem 0.5rem 0rem;
}

#sideBar .list-group-item a {
    text-decoration: none;
    color: #696969;
    font-size: 14px;
}

#sideBar ul li a .fa {
    margin-right: 10px;
}

#sideBar.active .logo .sidebarToggle {
    right: -110px;
    top: 11px;
}

.username {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard {
    background-color: #0d2960;
}

h5.card-title {
    position: relative;
}

.rightsideList > li > a,
.rightsideList > li > .dropdown > a {
    background: #fff;
    width: 36px;
    display: block;
    text-align: center;
    height: 36px;
    background: #ffffff;
    border: 1px solid #b4b4b4;
    line-height: 2;
    border-radius: 6px;
    padding: 0;
}

.rightsideList li a .bi {
    color: #4d5154;
}

/*  h5.card-title::after {
            border-bottom: 2px solid #ddd;
            padding-bottom: 10px;
            width: 70%;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            top: 20px;
        }
         */

.filter {
    position: relative;
}

/*    .filter::after {
            border-bottom: 2px solid #ddd;
            
            width: 100%;
            content: "";
            position: absolute;
            bottom: 10px;
            left: 0;
            
        }
        */

.username .fa-user {
    font-size: 18px;
    border: 1px solid #000;
    padding: 7px;
    border-radius: 50px;
    margin-right: 5px;
}

.usersBlock {
    margin-bottom: 10px;
}

.usersBlock .userItem {
    border-bottom: 1px solid #ddd;
}

#content.active {
    margin-left: 135px;
}

#collapsiblesideBar {
    position: absolute;
    top: 4px;
    color: #b3d2ff;
    background: #a9bfdfad;
    padding: 2px 8px;
    border-radius: 20px;
    right: -20px;
}

#collapsiblesideBar:hover {
    background: #1c68da;
}

#collapsiblesideBar a .fa {
    color: #fff !important;
}

.eye-icon {
    top: 10px;
    right: 10px;
    position: absolute;
    color: #78879a;
    cursor: pointer;
    z-index: 9;
}

.chatBox {
    position: fixed;
    bottom: 14px;
    right: 26px;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    background: #b1b1b1;
}

.chatBox .fa {
    font-size: 23px;
    vertical-align: bottom;
    padding-top: 10px;
    color: #fff;
}

.dropdown-toggle::after {
    display: none;
}

.step {
    background-color: #c4c4c4;
    display: inline-block;
    border: 4px solid;
    border-color: #fff;
    position: relative;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    line-height: 47px;
    margin-right: 75px;
    font-weight: normal;
}

.step.active {
    background: #696969;
}

.step:after {
    width: 80px;
    content: " ";
    border-top: 3px solid #c4c4c4;
    width: 80px;
    position: absolute;
    top: 22px;
    z-index: 1;
    right: -83px;
}

.step:last-child::after {
    display: none;
}

.inputType input[type="text"] {
    width: 70px;
    height: 70px;
    border: 2px solid #333;
}

h1.modal-title {
    font-size: 32px !important;
    /* display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%; */
    /* font-size: 38px !important; */
}

.img-profile {
    height: 2rem;
    width: 2rem;
}

@media screen and (max-width: 991px) {
    .sidebarToggle {
        display: block;
    }
}

@media screen and (max-width: 575px) {
    .heading h2 {
        font-size: 18px;
        margin: 0;
    }
}

.criteria {
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 20px;
}

.card {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    border: none !important;
}

.light-blue {
    background: #e6f2ff;
}

.recentUsersTable {
    height: 560px;
    overflow: auto;
}

.listofItemsTable {
    height: 300px;
    overflow: auto;
}

.listofItemsTable thead,
.recentUsersTable thead {
    position: sticky;
    top: 0;
}

/* width */

#sideBar::-webkit-scrollbar,
.listofItemsTable::-webkit-scrollbar,
.recentUsersTable::-webkit-scrollbar {
    width: 5px;
}

/* Track */

#sideBar::-webkit-scrollbar-track,
.listofItemsTable::-webkit-scrollbar-track,
.recentUsersTable::-webkit-scrollbar-thumb {
    border-radius: 20px;
}

/* Handle */

#sideBar::-webkit-scrollbar-track,
.listofItemsTable::-webkit-scrollbar-track,
.recentUsersTable::-webkit-scrollbar-thumb {
    background: rgb(228, 228, 228);
    border-radius: 20px;
}

/* Handle on hover */

#sideBar::-webkit-scrollbar-thumb:hover,
.listofItemsTable::-webkit-scrollbar-thumb:hover,
.recentUsersTable::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
}

/* /////////////////// */

.topcampaign .progress {
    height: 1rem;
}

/*   Acctive  */

/*  ----- */

/*  Right Side Tooltip */

/*  Tool Tip UI  */

.tooltipUI {
    position: relative;
    display: inline-block;
}

.tooltipUI .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -26px;
    padding: 1px 15px;
    font-size: 13px;
    margin-top: 5px;
}

.tooltipUI .tooltiptext::before {
    content: "";
    position: absolute;
    top: -29%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltipUI:hover .tooltiptext {
    visibility: visible;
}

.dropdown-menu[data-bs-popper] {
    left: -49px;
    font-size: 13px;
}

.chatDropdown .dropdown-menu {
    width: 250px !important;
}

.chatDropdown .dropdown-menu .fa-search {
    position: absolute;
    right: 8px;
    top: 8px;
    color: thistle;
}

.chatDropdown .dropdown-menu .fa-plus {
    border: 2px solid #198754;
    padding: 2px;
}

.chatSearch {
    width: 160px;
}

.chatList {
    margin: 7px;
}

.chatList:hover {
    background-color: #f8f7f7;
}

.backBtn {
    border: 1px solid #ddd;
    line-height: 2;
    padding: 0px 10px;
}

/*   ------------------- */

.nav-pills.subMenus li:last-child {
    border: none;
}

.nav-pills.subMenus li:last-child .nav-link.active + .addNewBtn {
    display: none;
}

.nav-pills.subMenus .nav-link {
    color: #545454 !important;
    /* border-right: 1px solid #dbd7d7; */
    border-radius: 0px;
    cursor: pointer;
}

.nav-pills.subMenus .nav-link.active {
    background-color: transparent;
    font-weight: bold;

    border-bottom: 2px solid;
    border-color: #f58220;
    margin-right: 5px;
}

.addNewBtn {
    display: none;
}

.nav-pills.subMenus .nav-link.active + .addNewBtn {
    display: block;
}

.nav-pills.subMenus .nav-link.active:last-child .addNewBtn {
    display: none;
}

/*  CRM Editor */

.CRMEditor .card-header {
    border-top: 4px solid #50d850;
}

.CRMEditor .card-header ul {
    text-align: center;
    margin: 0;
}

.CRMEditor .card-header ul li {
    margin-left: 1rem;
}

.CRMEditor .card-header ul li a {
    text-align: center;
    text-decoration: none;
    margin: 0;
    color: #212529;
}

.CRMEditor .list-group-item {
    padding: 0.8rem 0.3rem;
}

/*  //////CRM Editor */

.page-link {
    color: #f58220;
}

.dragDropEditor .card-header ul li.list-inline-item a {
    color: #565656;
    text-decoration: none;
    font-size: 14px;
}

.dragDropEditor .card-header ul li.list-inline-item a img {
    margin-right: 20px;
    margin-left: 10px;
}

.dragDropEditor .card-body .list-group-item {
    font-size: 15px;
    padding: 0.85rem 0 0.85rem 1rem;
}

.dragDropEditor .card-body .list-group-item img {
    margin-right: 10px;
}

.greenBorder-33per::after {
    border-top: 4px solid #50d850;
    width: 33%;
    position: absolute;
    content: " ";
    top: 0;
    left: 3px;
    border-radius: 8px 0 0 0;
}
.greenBorder-66per::after {
    border-top: 4px solid #50d850;
    width: 66%;
    position: absolute;
    content: " ";
    top: 0;
    left: 3px;
    border-radius: 8px 0 0 0;
}
.greenBorder-100per::after {
    border-top: 4px solid #50d850;
    width: 100%;
    position: absolute;
    content: " ";
    top: 0;
    left: 3px;
    border-radius: 10px 10px 0 0;
}
#campaignModal {
    z-index: 5 !important;
}
.modal-backdrop {
    z-index: 1;
}
.red-progressbar .p-progressbar .p-progressbar-value {
    background-color: rgb(220, 53, 69);
}

.blue-progressbar .p-progressbar .p-progressbar-value {
    background-color: rgb(13, 202, 240);
}

.green-progressbar .p-progressbar .p-progressbar-value {
    background-color: rgb(25, 135, 84);
}

.yellow-progressbar .p-progressbar .p-progressbar-value {
    background-color: rgb(255, 193, 7);
}
