<div [ngSwitch]="stepIndex">
    <div *ngSwitchCase="0">

        <div class="card-body px-5 greenBorder-33per">
            <app-create-table (createTableSubmit)="createTableSubmit($event)"
                (hideNewCrmPopup)="hideNewCrmPopup.emit(true)">
            </app-create-table>
        </div>
    </div>
    <div *ngSwitchCase="1">
        <div class="card-body px-5 greenBorder-66per">
            <app-design-table (designTableSubmit)="designTableSubmit($event)" (setStepIndex)="stepIndex = $event">
            </app-design-table>
        </div>
    </div>
    <div *ngSwitchCase="2">
        <div class="greenBorder-100per">
            <app-create-crm (createCrmSubmit)="createCrmSubmit()" (setStepIndex)="stepIndex = $event">
            </app-create-crm>
        </div>
    </div>
</div>