<div class="tab-pane " role="tabpanel" >


    <div class="card mb-3">
        <div class="card-body">
            <div class="dcTable  table-responsive">
                <table class="table table-borderless table-md">
                    <thead class="light-blue">
                        <tr>
                            <th><input type="checkbox"> </th>
                            <th>Debug Campaign </th>
                            <th>Status</th>
                            <th>Actions</th>
                            <th>Download Files</th>
                            <th>&nbsp;</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>

                            <td> Sales Camp </td>
                            <td>Off</td>
                            <td>
                                <select name="" id="" class="form-select"> 

                                    <option value="">  Select Action</option>

                                </select>
                            </td>
                            <td> <select name="" id="" class="form-select"> 

                                <option value="">  Select File</option>

                            </select></td>

                            <td>
                                <a class="btn border" href="#"> <i class="fa fa-download">  </i> Download</a>

                            </td>
                        </tr>
                    </tbody>
                </table>

            
            </div>
        </div> <div class="card-body">

            <div class="row">

                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>


        </div>
    </div>





</div>