<div class="tab-pane " role="tabpanel">
    <div class="card mb-3">
        <div class="card-body">
            <div class="dcTable  table-responsive">
                <table class="table table-borderless table-md">
                    <thead class="light-blue">
                        <tr>
                            <th><input type="checkbox"> </th>
                            <th>Debug Campaign </th>
                            <th>Status</th>
                            <th>Actions</th>
                            <th>Download Files</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of debugCampaignData">
                        <tr>
                            <td><input type="checkbox"></td>
                            <td> {{item.name}}</td>
                            <td>Off</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value=""> Select Action</option>
                                </select>
                            </td>
                            <td> <select name="" id="" class="form-select">
                                    <option value=""> Select File</option>
                                </select></td>
                            <td>
                                <a class="btn border" href="#"> <i class="fa fa-download"> </i> Download</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>