<div class="container-fluid">
    <div class="row py-3">
        <div class="col-md-12 d-flex justify-content-between">
            <div class=" w-50   ms-auto me-3 mb-2 ">

                <div class="input-group searchBox ">
                    <input type="text " class="form-control " placeholder="Search something.. "
                        aria-label="Recipient 's username" aria-describedby="button-addon2">
                    <button class="btn btn-warning py-0" type="button" id="button-addon2"> <i
                            class="bi bi-search text-white"></i></button>
                </div>
            </div>
            <ul class="navbar-nav flex-row rightsideList">
                <li class="nav-item   me-2">
                    <div class="dropdown tooltipUI chatDropdown">
                        <a class="nav-link  dropdown-toggle " id=" " data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="assets/images/header/chat.png" alt="chat" width="16">

                            <span class="tooltiptext">Chat</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <div class="d-flex p-2 justify-content-between">

                                <span>
                                    <b>Chat</b> <a class="small" href="#">
                                        <i class="fa fa-plus text-success rounded"></i></a>
                                </span>
                                <span class="position-relative chatSearch"> <input
                                        class="float-end form-control form-control-sm d-inline w-75 h-auto"
                                        type="search" placeholder="search chat">

                                    <i class="fa fa-search"></i>

                                </span>
                            </div>

                            <div class="chatList p-1 d-flex small  align-items-top">

                                <span class="me-2"> <img class=" " width="25" height="25"
                                        src=" https://dummyimage.com/100/007bff/efefef" alt="user profile"></span>
                                <span> Nirmal Pandya <br> Lorem ipsum dolor sit. </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item   me-2">
                    <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notes">
                        <img src="assets/images/header/notes.png" class="" alt="Notes" width="16">
                    </a>
                </li>
                <li class="nav-item active me-2">
                    <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Leave"> <img
                            src="assets/images/header/calender.png" class="" alt="Notes" width="16"> </a>
                </li>

                <li class="nav-item ac tive me-2">
                    <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Share Screen">
                        <img src="assets/images/header/share-screen.png" alt="share screen" width="16">
                    </a>
                </li>
                <li class="nav-item  me-2">
                    <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Notification">
                        <i class="bi bi-bell"></i> </a>
                </li>


                <li class="nav-item   me-2">
                    <a class="nav-link pt-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Profile"> <img
                            class="img-fluid " src="assets/images/header/profile.png" width="36" alt="Profile Image">
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="row mb-2 topBar d-none">
        <div class="col-md-12 col-lg-4">
            <div class="input-group  searchBox ">
                <input type="text" class="form-control" placeholder="Search something.."
                    aria-label="Recipient's username ">
                <button class="btn btn-warning " type="button " id=" "> <i
                        class="bi bi-search text-white "></i></button>
            </div>
        </div>

        <ul class="navbar-nav flex-row rightsideList ">
            <li class="nav-item active me-2 ">

                <a class="nav-link " data-bs-toggle="tooltip " data-bs-placement="bottom " title="Chat "> <i
                        class="bi bi-chat-left "></i> </a>


            </li>
            <li class="nav-item active me-2 ">
                <a class="nav-link " data-bs-toggle="tooltip " data-bs-placement="bottom " title="Notes "> <i
                        class="bi bi-sticky "></i> </a>
            </li>
            <li class="nav-item active me-2 ">
                <a class="nav-link " data-bs-toggle="tooltip " data-bs-placement="bottom " title="Leave "> <i
                        class="bi bi-calendar-event "></i> </a>
            </li>

            <li class="nav-item active me-2 ">
                <a class="nav-link " data-bs-toggle="tooltip " data-bs-placement="bottom " title="Share Screen ">

                    <img src="assets/images/header/share-screen.png " alt=" " width="24 ">

                </a>
            </li>
            <li class="nav-item active me-2 ">
                <a class="nav-link " href="# " data-bs-toggle="tooltip " data-bs-placement="bottom "
                    title="Notification ">
                    <i class="bi bi-bell "></i> </a>
            </li>

            <li class="dropdown nav-item ">
                <a class=" dropdown-toggle " data-bs-toggle="dropdown ">
                    <img class=" " src="assets/images/header/profile.png " width="36 ">
                </a>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item " href="# ">Link 1</a></li>
                    <li><a class="dropdown-item " href="# ">Link 2</a></li>
                    <li><a class="dropdown-item " href="# ">Link 3</a></li>
                </ul>
            </li>
            <li class="nav-item username dropdown d-none ">



                <a class="dropdown-toggle text-decoration-none text-muted cursor-pointer " data-bs-toggle="dropdown "
                    aria-expanded="false ">
                    <img class=" " src="assets/images/header/profile.png " width="36 ">

                    <!-- <span class="ms-1 d-none d-lg-inline text-gray-600 small ">Douglas McGee</span> -->
                </a>
                <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1 ">
                    <li><a class="dropdown-item small " href="# ">Action</a></li>
                    <li><a class="dropdown-item small " href="# ">Another action</a></li>
                </ul>


                <!-- <a class="nav-link " href="# " id="navbarDropdown " role="button " data-bs-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
        <img class="rounded-circle u-box-shadow-sm me-2 " width="25 " height="25 " src=" https://dummyimage.com/100/007bff/efefef " alt="Htmlstream "> John Doe <i class="fa fa-angle-down "></i>
      </a>
      <div class="dropdown-menu " aria-labelledby="navbarDropdown ">
        <a class="dropdown-item " href="# ">Profile</a>
        <a class="dropdown-item " href="# ">Account Settings</a>
        <a class="dropdown-item " href="# ">Newsletter</a>
        <div class="dropdown-divider "></div>
        <a class="dropdown-item " href="# ">Sign Out</a>
      </div> -->
            </li>
        </ul>


        <ul class="navbar-nav ms-auto me-sm-2 mt-2 mt-lg-0 d-none ">
            <li class="nav-item active me-3 ">
                <a class="nav-link " href="# ">Home <span class="sr-only ">(current)</span></a>
            </li>
            <li class="nav-item me-3 ">
                <a class="nav-link " href="# ">About</a>
            </li>
            <li class="nav-item me-3 ">
                <a class="nav-link " href="# ">Services</a>
            </li>
            <li class="nav-item me-3 ">
                <a class="nav-link " href="# ">Our Work</a>
            </li>
            <li class="nav-item me-3 ">
                <a class="nav-link " href="# ">Contacts</a>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link " href="# " id="navbarDropdown " role="button " data-bs-toggle="dropdown "
                    aria-haspopup="true " aria-expanded="false ">
                    <img class="rounded-circle u-box-shadow-sm me-2 " width="25 " height="25 "
                        src=" https://dummyimage.com/100/007bff/efefef " alt="Htmlstream "> John Doe <i
                        class="fa fa-angle-down "></i>
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown ">
                    <a class="dropdown-item " href="# ">Profile</a>
                    <a class="dropdown-item " href="# ">Account Settings</a>
                    <a class="dropdown-item " href="# ">Newsletter</a>
                    <div class="dropdown-divider "></div>
                    <a class="dropdown-item " href="# ">Sign Out</a>
                </div>
            </li>
        </ul>

    </div>

    <div class="row topBar d-none ">
        <div class="col-md-12 py-2 d-flex align-items-center ">
            <div class="input-group searchBox mx-auto w-50 ">
                <input type="text " class="form-control " placeholder="Search something.. "
                    aria-label="Recipient 's username" aria-describedby="button-addon2">
                <button class="btn btn-warning" type="button" id="button-addon2"> <i
                        class="bi bi-search text-white"></i></button>
            </div>
            <ul class="navbar-nav flex-row rightsideList">
                <li class="nav-item active me-2">

                    <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat"> <i
                            class="bi bi-chat-left"></i> </a>


                </li>
                <li class="nav-item active me-2">
                    <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notes"> <i
                            class="bi bi-sticky"></i> </a>
                </li>
                <li class="nav-item active me-2">
                    <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Leave"> <i
                            class="bi bi-calendar-event"></i> </a>
                </li>

                <li class="nav-item active me-2">
                    <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Share Screen">

                        <img src="assets/images/header/share-screen.png" alt="" width="24">

                    </a>
                </li>
                <li class="nav-item active me-2">
                    <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Notification"> <i class="bi bi-bell"></i> </a>
                </li>

                <li class="dropdown nav-item">
                    <a class=" dropdown-toggle" data-bs-toggle="dropdown">
                        <img class=" " src="assets/images/header/profile.png" width="36">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Link 1</a></li>
                        <li><a class="dropdown-item" href="#">Link 2</a></li>
                        <li><a class="dropdown-item" href="#">Link 3</a></li>
                    </ul>
                </li>
                <li class="nav-item username dropdown d-none">



                    <a class="dropdown-toggle text-decoration-none text-muted cursor-pointer" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img class=" " src="assets/images/header/profile.png" width="36">

                        <!-- <span class="ms-1 d-none d-lg-inline text-gray-600 small">Douglas McGee</span> -->
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item small" href="#">Action</a></li>
                        <li><a class="dropdown-item small" href="#">Another action</a></li>
                    </ul>


                    <!-- <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle u-box-shadow-sm me-2" width="25" height="25" src=" https://dummyimage.com/100/007bff/efefef" alt="Htmlstream"> John Doe <i class="fa fa-angle-down   "></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Account Settings</a>
                        <a class="dropdown-item" href="#">Newsletter</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                      </div> -->
                </li>
            </ul>
        </div>
    </div>