<div class="card  mb-3 listofTeams">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h2 class="h4   card-title   fw-medium"> List of Teams</h2>
            <div class="recent">
                <select class="form-select" aria-label="Default select example" (change)="selectTeams($event)">
                    <option value="today" selected>Today</option>
                    <option value="this-week">This Week</option>
                    <option value="this-month">This Month</option>
                </select>
            </div>
        </div>
        <div class="listofItemsTable table-responsive">

            <table class="table table-borderless table-sm">
                <thead class="light-blue">
                    <tr>
                        <th>Name of Teams</th>
                        <th>Interactions</th>
                        <th>Campaign</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of teamListObj">
                        <td>{{item.team}}</td>
                        <td>{{item.interactions}}</td>
                        <td>{{item.campaign}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>