<div *ngIf="!showAddNewCrm">
    <div class="d-flex justify-content-between">
        <ul class="nav nav-pills mb-2 subMenus" id="pills-tab" role="tablist">
            <li class="nav-item d-flex align-items-center ms-2" role="presentation">
                <a class="nav-link" routerLink="campaigns" routerLinkActive="active">Campaigns</a>

                <a class="btn btn-warning btn-sm text-white small rounded addNewBtn" data-bs-toggle="modal"
                    data-bs-target="#campaignModal"> Add New</a>

            </li>
            <li class="nav-item d-flex align-items-center ms-2" role="presentation">
                <a class="nav-link" routerLinkActive="active" routerLink="disposition">Disposition</a>
                <a class="btn btn-warning btn-sm text-white small rounded addNewBtn" data-bs-toggle="modal"
                    data-bs-target="#dispositionModal"> Add New</a>
            </li>
            <li class="nav-item d-flex align-items-center ms-2" role="presentation">
                <a class="nav-link" routerLinkActive="active" routerLink="queue">Queue</a>
                <a class="btn btn-warning btn-sm text-white small rounded addNewBtn" data-bs-toggle="modal"
                    data-bs-target="#queueModal "> Add New</a>
            </li>
            <li class="nav-item d-flex align-items-center ms-2" role="presentation">
                <a class="nav-link" routerLinkActive="active" routerLink="crm">CRM</a>
                <a class="btn btn-warning btn-sm text-white small rounded addNewBtn" (click)="showAddNewCrm = true">
                    Add New
                </a>
            </li>
            <li class="nav-item d-flex align-items-center ms-2" role="presentation">
                <a class="nav-link" routerLinkActive="active" routerLink="debug-campaign">Debug Campaign</a>
                <a class="btn btn-warning btn-sm text-white small rounded addNewBtn" data-bs-toggle="modal"
                    data-bs-target=" ">
                    Add New
                </a>
            </li>
        </ul>

        <div class=" " style="width:200px">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search in Table">
                <span class="input-group-text bg-primary text-white"> <i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

<section *ngIf="showAddNewCrm">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card mb-3">
                    <app-new-crm (hideNewCrmPopup)="showAddNewCrm = false"></app-new-crm>
                </div>
            </div>
        </div>
    </div>
</section>