<section class="signIn-Form d-flex justify-content-center vh-100 bg-light align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-9 mx-auto">
                <div class="row">
                    <div
                        class="col-12 col-md-6 bg-light text-center  rounded-12px-start d-flex align-items-end p-4 p-xxl-4 justify-content-between flex-column">
                        <img src="assets/images/Component.svg" alt="logo" class="img-fluid d-block mx-auto">
                        <h3 class="text-muted mb-0" style="font-size:24px">Chat, Voice, Campaign Creation, and Data
                            Analytics - all in one place!</h3>
                    </div>
                    <div class="col-12 col-md-6 col bg-white rounded-12px-end p-4 p-xxl-5">
                        <div class="mb-3">
                            <img src="assets/images/contaque-verve-logo.png" alt="xyz" class="img-fluid d-block mx-auto"
                                width="224">
                        </div>
                        <form [formGroup]="loginForm" class="signInForm">
                            <div class="text-center">
                                <h1 class="h2">Log in to your account</h1>
                                <p class="mb-4">Welcome back! Please enter your details.</p>
                            </div>
                            <div class="form-group mb-4">
                                <div class="position-relative">
                                    <input name="username" class="ps-4 form-control" formControlName="username" required
                                        placeholder="Username" type="text">
                                    <i class="bi bi-person"></i>
                                    <label class="danger"
                                        *ngIf="loginForm.controls['username'].hasError('required') && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
                                        Username is required.</label>

                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="position-relative">
                                    <input [type]="fieldTextType ? 'text' : 'password'" class="ps-4 form-control"
                                        formControlName="password" required placeholder="Password" type="text">
                                    <span>
                                        <i class="fa eye-icon" [ngClass]="{
                                            'fa-eye-slash': !fieldTextType,
                                            'fa-eye': fieldTextType
                                          }" (click)="toggleFieldTextType()"></i>
                                        <i class="bi bi-lock"></i>
                                    </span>
                                    <label class="text-danger"
                                        *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                                        Password is required.</label>
                                </div>
                            </div>

                            <div class="form-group mb-4 d-flex justify-content-between align-items-center">
                                <span class="small"> <input type="checkbox"> Remember Me</span>
                                <span> <a class="float-end small fst-italic text-decoration-none"
                                        routerLink="/forgot-password">Forgot Password?</a></span>
                            </div>

                            <div class="form-group mb-4   text-center">
                                <button type="SUBMIT" (click)="login(loginForm)" [disabled]="!loginForm.valid"
                                    class="btn btn-md btn-block btn-outline-warning px-5 w-100">
                                    LOGIN </button>
                            </div>

                            <div class="form-group mb-4  text-center">
                                <span class="line">
                                    <h2 class="m-0"><span>OR LOGIN USING</span></h2>
                                </span>
                            </div>

                            <div class="form-group text-center">
                                <button class="btn btn-md btn-block btn-custom-light px-5 w-100">
                                    OTP </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>