


<div class="dragFileArea mt-2 bg-light text-center p-3">
    <img src="images/file-icon.png" alt="File Icon" width="76" style="margin-bottom:35px;">
    <h3>Click or drag file to this area to upload</h3>
    <h4 class="text-muted">Support for .xlsx or .xls files a single or bulk upload.</h4>

</div>

<div class="text-center mt-4"> <button class="btn btn-outline-secondary">
        <img src="images/download.png" alt="Download Template" width="20">
        Download Template</button></div>


<div class="modal-footer justify-content-center border-top-0">

    <button type="button" class="btn btn-warning text-white px-4">SUBMIT</button>
</div>
