<div class="modal fade" id="pauseCodeModal">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header border-0">
                <h1 class="modal-title fs-5 w-100 text-center" id="pauseCodeModal">
                    Create Pause Code
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body pt-1 px-5 pb-3">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="country" class="form-label">User Group  <sup class="text-red">*</sup></label>
                        <select class="form-select" id="" required="">
            <option value="">Select any</option>                       
          </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="" class="form-label">Pause Code  <sup class="text-red">*</sup></label>
                        <input type="text" class="form-control" id="" placeholder="Enter pause code">

                    </div>

                    <div class="col-sm-12">
                        <label for="" class="form-label">Description   <sup class="text-red">*</sup></label>
                        <input type="text" class="form-control" id="" placeholder="Enter description here">

                    </div>



                </div>
            </div>

            <div class="modal-footer justify-content-center border-top-0">

                <button type="button" class="btn btn-warning text-white px-4">SUBMIT</button>
            </div>

        </div>
    </div>
</div>