<!-- Forgot Password -->
<section class="signIn-Form d-flex justify-content-center vh-100 bg-light align-items-center" *ngIf="isForgotPassword">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8 col-lg-4   bg-white rounded-12px p-4 p-xxl-5 mx-auto">
                <div class="mb-3">
                    <img src="assets/images/contaque-verve-logo.png" alt="" class="img-fluid d-block mx-auto"
                        width="224">
                </div>

                <form class="signInForm">
                    <div class="text-center">
                        <h1 class="h2">Forgot password</h1>
                        <p class="mb-4">Enter registered email address</p>

                    </div>
                    <div class="form-group mb-5">
                        <div class="position-relative"> <input name="txtEmail" class="ps-4 form-control "
                                [(ngModel)]="forgetPasswordModel.email" [pattern]="emailPattern" #emailRef="ngModel"
                                required placeholder="Email ID" type="text">
                            <i class="bi bi-person"></i>
                            <span class="text-danger" *ngIf="emailRef.invalid && emailRef.touched">
                                *email is required & must be in valid format
                            </span>
                        </div>
                    </div>

                    <div class="form-group mb-4   text-center">
                        <button type="SUBMIT" [disabled]="emailRef.invalid"
                            class="btn btn-md btn-block btn-outline-warning px-5 w-100" (click)="forgotPassword()">
                            SUBMIT </button>
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-md btn-block btn-custom-light px-5 w-100">
                            BACK </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Reset Password -->
<section *ngIf="!isForgotPassword" class="signIn-Form d-flex justify-content-center vh-100 bg-light align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8 col-lg-4   bg-white rounded-12px p-4 p-xxl-5 mx-auto">
                <div class="mb-3">
                    <img src="/assets/images/contaque-verve-logo.png" alt="" class="img-fluid d-block mx-auto"
                        width="224">
                </div>

                <form class="signInForm">
                    <div class="text-center">
                        <h1 class="h2">Reset password</h1>
                        <p class="mb-4">A reset password link has been sent on your registered email ID</p>
                        <div> <img src="/assets/images/reset-pwd-icon.png" alt="reset-pwd" width="147"> </div>

                        <div class="mt-3">
                            Didn't receive the email?
                        </div>
                        <div>
                            <a href="#">Click to Resend</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- apply New Password -->